<ng-template #directory let-result>
    <app-directory-preview (exit)="result($event)"></app-directory-preview>
</ng-template>

<app-dialog #dialog>
</app-dialog>

<div>
    <ul id="main">
        <li>
            <span>Theme</span>
            <ul class="sub">
                <li *ngFor="let theme of availableThemes()" (click)="useTheme(theme)">
                    {{ theme.displayName }}
                </li>
            </ul>
        </li>
        <li>
            <span>Language</span>
        </li>
        <li (click)="dialog.showComponent(directory)">
            <span>Tree</span>
        </li>
    </ul>
    <h1>{{ title }}</h1>
</div>