div {
    background: rgb(52, 52, 52);
    color: white;
    display: flex;
    justify-content: space-between;
    user-select: none;
    font-weight: 100;
    flex-wrap: wrap;
}

div > * {
    display: flex;
}

h1 {
    font-size: 25px;
    padding: 0;
    margin-right: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
}

ul#main {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul#main > li {
    display: inline-block;
    position: relative;
    height: 100%;
}

li:hover {
    background: rgba(23, 23, 23);
    cursor: pointer;
}

li > span {
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
}

li:hover > ul {
    display: block;
}

@keyframes display {
    from { opacity: 0%; }
    to { opacity: 100%; }
}

ul.sub {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 100;
    width: max-content;
    background: rgba(52, 52, 52);
    animation-name: display;
    animation-duration: 500ms;
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
}

ul.sub > li {
    display: block;
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 15px;
    padding-right: 15px;
}

ul.sub > li:hover {
    background: rgba(23, 23, 23);
}