<div>
    <ul id="main">
        <li>
            <span>File</span>
            <ul class="sub">
                <li>
                    Save
                </li>
                <li>
                    Save as
                </li>
                <li>
                    Discard
                </li>
            </ul>
        </li>
        <li>
            <span>Edit</span>
            <ul class="sub">
                <li>
                    Copy
                </li>
                <li>
                    Paste
                </li>
            </ul>
        </li>
        <li>
            <span>Theme</span>
            <ul class="sub">
                <li>
                    Dark
                </li>
                <li>
                    Light
                </li>
            </ul>
        </li>
        <li>
            <span>Language</span>
        </li>
        <li>
            <span>Tree</span>
        </li>
    </ul>
    <h1>{{ title }}</h1>
</div>