:host {
    width: 60vw;
    display: flex;
    align-items: center;
    align-content: space-around;
    justify-items: center;
    justify-content: space-around;
    padding: 20px;
    font-size: x-large;
    font-family: inherit;
    flex-wrap: wrap;
}

input[type=text] {
    min-width: 0;
    flex: 1 1 60%;
    margin: 10px auto;
    font-size: 1em;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
}

input[type=text]:hover:not(:focus) {
    box-shadow: inset -1px -1px 1px black, inset 1px 1px 1px black;
}

div {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}